/****************************************************************************/
/* This is the default custom CSS file that is included in every template.  */
/* It can be edited, but it cannot be renamed or deleted.                   */
/* You will see it included in the source of every page as                  */
/* 'custom/styles/default/hs_default_custom_style.css'                      */
/****************************************************************************/

body {
    /* Force background colors to bleed to the edge of the screen */
    margin: 0;
    font-family: "Proxima Nova Light";
    font-size: 14pt;
    line-height: 1.5;
}

h1,h2,h3,h4,h5,h6,strong,b {
    font-family: "Proxima Nova Semibold";
}

a {
    text-decoration: none;
}

a:hover {
    opacity: 0.5;
}

h1 {
    font-size: 300%;
}

h2 {
    font-size: 180%;
}

h3 {
    font-size: 120%;
}

.sonatype-landing-cta h2,
.sonatype-companies h2,
.sonatype-model h2,
.sonatype-partners h2,
.sonatype-deming h2,
.sonatype-media h2 {
    text-align: center;
}

.sonatype-landing-cta h2,
.sonatype-companies h2,
.sonatype-model h2 {
    color: #336699;
}

/**************************************
 * Style overrides and custom classes *
 **************************************/
 
/* Remove unwanted margin from  menus */
.hs-menu-wrapper ul {
    margin: 0;
    padding: 0;
}

/* Remove bullets from vertical menus */
.hs-menu-wrapper.hs-menu-flow-vertical li {
    list-style-type: none;
}

/* Represents a full-width content block that bleeds to the screen edge */
.sonatype-section {
    padding: 8px 4em 8px 4em;
}

/* Remove excess padding on mobile */
@media (max-width: 767px) {
    .sonatype-section {
        padding: 8px 1em 8px 1em;
    }
}

/* Prevent content intended to be read from exceeding 1200 pixels in width */
.sonatype-section > .row-fluid-wrapper > .row-fluid,
.sonatype-section > .cell-wrapper,
.sonatype-section > .hs_cos_wrapper_widget_container > .hs_cos_wrapper_widget {
    margin: 0 auto;
    max-width: 1200px;
}

.sonatype-striped-background {
    background-image: url(http://cdn2.hubspot.net/hubfs/1958393/Assets/pattern-stripes.png);
}

/* Each section of the website has its own distinctive background color */

.sonatype-default-page .sonatype-default-background {
    background-color: #336699;
}

.sonatype-repository .sonatype-default-background {
    background-color: #46956d;
}

.sonatype-auditor .sonatype-default-background {
    background-color: #885195;
}

.sonatype-firewall .sonatype-default-background {
    background-color: #6c5896;
}

.sonatype-lifecycle .sonatype-default-background {
    background-color: #4f5f98;
}

.sonatype-error .sonatype-default-background {
    background-color: #d54854;
}

.sonatype-generic .sonatype-default-background {
    background-color: #6d7073;
}

.sonatype-background-image {
    background-position: center;
    background-size: cover;
}
/* Map gradients to the background color for that section of the website */

.sonatype-default-page .sonatype-gradient {
    background: linear-gradient(to right, rgba(51, 102, 153, 0), #336699);
}

.sonatype-repository .sonatype-gradient {
    background: linear-gradient(to right, rgba(70, 149, 109, 0), #46956d);
}

.sonatype-auditor .sonatype-gradient {
    background: linear-gradient(to right, rgba(136, 81, 149, 0), #885195);
}

.sonatype-firewall .sonatype-gradient {
    background: linear-gradient(to right, rgba(108, 88, 150, 0), #6c5896);
}

.sonatype-lifecycle .sonatype-gradient {
    background: linear-gradient(to right, rgba(79, 95, 152, 0), #4f5f98);
}

.sonatype-error .sonatype-gradient {
    background: linear-gradient(to right, rgba(213, 72, 84, 0), #d54854);
}

.sonatype-generic .sonatype-gradient {
    background: linear-gradient(to right, rgba(109, 112, 115, 0), #6d7073);
}

.sonatype-body {
    padding: 2em 4em 4em 4em;
}

/* Remove excess padding on mobile */
@media (max-width: 767px) {
    .sonatype-body {
        padding: 2em 1em 4em; 1em;
    }
}

/* CTA buttons */

.cta_button {
    border: none !important;
    text-transform: uppercase;
    background-image: none !important;
    background-color: #2c2d2e !important;
    color: #ffffff !important;
    white-space: nowrap !important;
    border-radius: 26px !important;
    padding: 8px 17px 8px 17px !important;
}

.sonatype-large-cta .cta_button {
    border-radius: 30px !important;
    padding: 14px 24px 14px 24px !important;
}

/******************
 * Top navigation *
 ******************/

.sonatype-secondary-header {
    background-color: #f1f1f1;
    padding-bottom: 0;
}

/* News bar */

.sonatype-news {
    font-size: 70%;
    color: #6d7073;
}

.sonatype-news a {
    color: #2c2d2e;
    border-bottom: 1px solid #d0d1d1;
}

/* Sub nav */

.sonatype-secondary-nav > div {
    float:right !important;
}

.sonatype-secondary-nav ul {
    list-style: none;
    float: right;
}

.sonatype-secondary-nav li {
    display: inline;
}

.sonatype-secondary-nav a {
    text-transform: uppercase;
    vertical-align: top;
    font-size: 70%;
    color: #6d7073;
    padding-right: 0.7em;
}

.sonatype-secondary-nav li:last-child a {
    padding-right: 0;
}

.sonatype-secondary-nav a i.fa {
    position: relative;
    vertical-align: top;
    top: 1px;
}

/* Primary header */

.sonatype-section.sonatype-primary-header {
    padding-bottom: 6px;
    line-height: 1;
}
 
/* Logo nav */

.sonatype-primary-nav-logo img {
    max-width: 200px !important;
    margin-top: 7px;
}

/* Primary nav */

.sonatype-primary-nav > .cell-wrapper {
    float: right;
}

.sonatype-primary-nav {
    margin: 20px 0 0 0;
    text-align:right;
}

.sonatype-primary-nav a {
    color: #2c2d2e;
    padding-right: 1em;
}

.sonatype-primary-nav a:last-child {
    padding-right: 0;
}

.sonatype-primary-nav ul {
    list-style: none;
    display: inline-table;
    position: relative;
    text-align: left;
}

.sonatype-primary-nav > ul {
    margin: 0;
}

.sonatype-primary-nav > div {
    float:right !important;
}

/* Since the top-level nav isn’t clickable, cancel the hover state */
.sonatype-primary-nav ul li.hs-menu-depth-1 > a:hover {
    opacity: inherit;
}

/* …except for the Get Nexus button */
.sonatype-primary-nav ul li.hs-menu-depth-1:last-child > a:hover {
    opacity: 0.5;
}

/* Add a caret to the active menu item */
.sonatype-primary-nav ul li.hs-menu-depth-1 > a::after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 12px solid transparent;
    left: 50%;
    top: 38px;
    margin-left: -8px;
}

/* Hide the caret on mobile */
@media (max-width: 767px) {
    .sonatype-primary-nav ul li.hs-menu-depth-1 > a::after {
        border: 0;
    }
}

.sonatype-products .sonatype-primary-nav ul li.hs-menu-depth-1:nth-child(1) > a::after,
.sonatype-heroes .sonatype-primary-nav ul li.hs-menu-depth-1:nth-child(2) > a::after,
.sonatype-industries .sonatype-primary-nav ul li.hs-menu-depth-1:nth-child(3) > a::after,
.sonatype-learning .sonatype-primary-nav ul li.hs-menu-depth-1:nth-child(4) > a::after {
    border-bottom-color: #336699;
}

.sonatype-repository .sonatype-primary-nav ul li.hs-menu-depth-1:nth-child(1) > a::after {
    border-bottom-color: #46956d;
}

.sonatype-auditor .sonatype-primary-nav ul li.hs-menu-depth-1:nth-child(1) > a::after {
    border-bottom-color: #885195;
}

.sonatype-firewall .sonatype-primary-nav ul li.hs-menu-depth-1:nth-child(1) > a::after {
    border-bottom-color: #6c5896;
}

.sonatype-lifecycle .sonatype-primary-nav ul li.hs-menu-depth-1:nth-child(1) > a::after {
    border-bottom-color: #4f5f98;
}

/* Make sure primary nav links overlap with their menus, so the mouse can move from the link to the menu without it collapsing */
.sonatype-primary-nav ul > li.hs-menu-depth-1 {
    padding-right: 1em;
}

.sonatype-primary-nav ul li.hs-menu-depth-1 > a {
    position: relative;
    display: block;
    height: 40px;
    padding-right: 0;
}

/* Get Nexus button */

.sonatype-primary-nav ul li.hs-menu-depth-1:last-child {
    padding-right: 0;
}

.sonatype-primary-nav ul li.hs-menu-depth-1:last-child a {
    height: auto;
}

/* Dropdown menus */

.sonatype-primary-nav ul ul {
    display: none;
    position: absolute;
    z-index: 10;
    background-color: #2c2d2e;
    padding: 1.5em;
    margin-left: -1em;
    border-radius: 2px;
    top: 40px;
}

.sonatype-primary-nav ul ul li {
    float: none;
    padding-bottom: 1em;
    white-space: nowrap;
}

.sonatype-primary-nav ul ul li:last-child {
    padding-bottom: 0;
}

.sonatype-primary-nav ul ul li a {
    color: #ffffff;
}

.sonatype-primary-nav ul ul li a:hover {
    text-decoration: underline;
}

.sonatype-primary-nav ul li {
    float: left;
}

.sonatype-primary-nav ul li:hover > ul {
    display: block;
}

.sonatype-primary-nav ul:after {
    content: ""; clear: both; display: block;
}

/* Call to action */

.sonatype-primary-nav .hs-menu-wrapper > ul > li:last-child > a {
    border-radius: 26px !important;
    padding: 8px 17px 8px 17px !important;
    background-color: #2c2d2e;
    color: #ffffff;
    white-space: nowrap;
    display: inline-block;
    top: -8px;
}

/****************************
 * Hero with call to action *
 ****************************/

.sonatype-hero {
    padding: 0;
}

.sonatype-hero .sonatype-gradient {
    background: linear-gradient(to bottom right, rgba(70, 149, 109, 0), #46956d);
    padding-top: 6em;
    padding-bottom: 6em;
}

.sonatype-hero .widget-type-cta {
    text-align: center;
    margin-top: 3em;
}

/* Mission */

.sonatype-mission {
    text-align: center;
    padding-bottom: 2em;
}

.sonatype-mission h1 {
    color: #adc2d6;
    font-family: 'Proxima Nova Semibold';
    margin: 0;
}

.sonatype-mission h1.word {
    color: #ffffff;
}

@keyframes one {
    0%   {opacity: 1;}
    15%  {opacity: 1;}
    20%  {opacity: 0;}
    75%  {opacity: 0;}
    80%  {opacity: 1;}
    100% {opacity: 1;}
}

@keyframes two {
    0%   {opacity: 0;}
    15%  {opacity: 0;}
    20%  {opacity: 1;}
    35%  {opacity: 1;}
    40%  {opacity: 0;}
    100% {opacity: 0;}
}

@keyframes three {
    0%   {opacity: 0;}
    35%  {opacity: 0;}
    40%  {opacity: 1;}
    55%  {opacity: 1;}
    60%  {opacity: 0;}
    100% {opacity: 0;}
}

@keyframes four {
    0%   {opacity: 0;}
    55%  {opacity: 0;}
    60%  {opacity: 1;}
    75%  {opacity: 1;}
    80%  {opacity: 0;}
    100% {opacity: 0;}
}

.sonatype-mission .word { 
  position: absolute;
  text-align: center;
  width: 100%;
  display: block;
  opacity: 0;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}

.sonatype-mission .word.one {
  opacity: 1;
  animation-name: one;
}

.sonatype-mission .word.two {
  animation-name: two;
}

.sonatype-mission .word.three {
  animation-name: three;
}

.sonatype-mission .word.four {
  animation-name: four;
}

.sonatype-mission .underline {
  position: relative;
  height: 1.5em;
}

/***********************************
 * The software supply chain model *
 ***********************************/

.sonatype-model {
    background-color: #f1f1f1;
    padding-top: 4em;
    padding-bottom: 3em;
}

/*******************
 * Muda vs. Kaizen *
 *******************/
 
.sonatype-muda-vs-kaizen {
    background-color: #2c2d2e;
    color: #999b9d;
    text-align: center;
    padding-top: 4em;
    padding-bottom: 4em;
}

.sonatype-muda-vs-kaizen a {
    color: #ffffff;
    text-decoration: underline;
}

.sonatype-muda-vs-kaizen hr {
    border: 1px solid #414345;
}

.sonatype-muda-vs-kaizen .table-header,
.sonatype-muda-vs-kaizen .table-footer {
    display: flex;
    position: relative;
    color: #ffffff;
}

.sonatype-muda-vs-kaizen .table-header {
    margin-bottom: 1em;
}

.sonatype-muda-vs-kaizen .table-footer {
    margin-top: 1em;
}

.sonatype-muda-vs-kaizen .table-header div,
.sonatype-muda-vs-kaizen .table-footer div {
    padding: 1em;
    font-family: 'Proxima Nova Semibold';
    width: 50%;
}

.sonatype-muda-vs-kaizen .table-header .muda,
.sonatype-muda-vs-kaizen .table-footer .muda {
    font-size: 150%;
    background-color: #d54854;
}

.sonatype-muda-vs-kaizen .table-header .kaizen,
.sonatype-muda-vs-kaizen .table-footer .kaizen {
    font-size: 150%;
    background-color: #336699;
}

.sonatype-muda-vs-kaizen .benefits .muda,
.sonatype-muda-vs-kaizen .benefits .kaizen {
    text-align: left;
    margin-bottom: 0.5em;
}

.sonatype-muda-vs-kaizen .benefits .muda strong {
    color: #e27f88;
}

.sonatype-muda-vs-kaizen .benefits .kaizen strong {
    color: #7194b8;
}

.sonatype-muda-vs-kaizen .benefits a {
    font-family: 'Proxima Nova Semibold';
}

/**********************************************
 * Logos from companies that use our software *
 **********************************************/

.sonatype-companies {
    padding-top: 4em;
    padding-bottom: 8em;
}

.sonatype-companies .widget-type-linked_image {
    margin-top: 1em;
    text-align: center;
}

/**********************************************
 * Logos from partners that we associate with *
 **********************************************/
 
.sonatype-partners {
    padding-bottom: 4em;
}

.sonatype-partners .widget-type-linked_image {
    text-align: center;
    margin-top: 1em;
}

/************************
 * Product overview map *
 ************************/
 
.sonatype-map {
    background-color: #14293d;
    padding: 0;
    position: relative;
    height: 696px;
}

.sonatype-map img {
    position: absolute;
    left: 50%;
    margin-left: -666px;
    margin-top: -95px;
}

.sonatype-before-map {
    padding-bottom: 6em;
}

.sonatype-after-map {
    padding-top: 4em;
}

/*************************************************
 * A bit about our source of inspiration: Deming *
 *************************************************/

.sonatype-deming {
    background-color: #336699;
    padding-top: 6em;
    padding-bottom: 4em;
}

.sonatype-deming h2 {
    color: #adc2d6;
    margin-bottom: 0.5em;
}

.sonatype-deming img {
    position: absolute;
    left: 50%;
    margin-left: -100px;
    margin-top: -217px;
}

/****************************************************
 * Companies that have covered Sonatype in the news *
 ****************************************************/

.sonatype-media {
    background-color: #414345;
    padding-top: 4em;
    padding-bottom: 4em;
}

.sonatype-media h2 {
    color: #adc2d6;
    margin-bottom: 0.5em;
}

.sonatype-media img {
    padding-top: 2em;
}

.sonatype-media a {
    text-decoration: none;
    border-bottom: 1px solid #ffffff;
    font-family: "Proxima Nova Light";
}

/*****************************************************
 * Footer containing the site map and copyright info *
 *****************************************************/

.sonatype-footer {
    background-color: #2c2d2e;
}

/* Column headers */
.sonatype-footer .sonatype-column {
    padding-top: 3em;
}

/* Logo */

.sonatype-footer-nav-logo img {
    width: 111px !important;
}


/* Social networking */

.sonatype-footer .sonatype-social i.fa {
    display: inline-block;
    width: 25px;
}

.sonatype-footer .sonatype-social a {
    display: block;
    margin-top: 8px;
    font-size: 80%;
}

.sonatype-footer .sonatype-social a:first-child {
    margin-top: 7px;
}

/* Site map */

.sonatype-footer ul {
    padding-left: 0;
}

.sonatype-footer li {
    padding-top: 0.5em;
    font-size: 80%;
}

.sonatype-footer a {
    color: #999b9d;
}

.sonatype-footer .bars {
    margin-top: 4em;
    height: 6em;
}

.sonatype-footer .sonatype-legal {
    margin-top: 3em !important;
}

/************************
 * Download page styles *
 ************************/

.sonatype-download-version {
    margin-top: 2em;
    padding: 1em;
    background-color: #ebf0f5;
}

.sonatype-download-version h2 {
    margin-top: 0;
}

.sonatype-download-version ul {
    margin: 0;
    padding: 0;
}

.sonatype-download-version ul li {
    display: inline-block;
    padding-right: 2em;
}

/* Hardcoded column widths */

.sonatype-download-version table td:first-child {
    width: 120px;
}

.sonatype-download-version table td:nth-child(3),
.sonatype-download-version table td:nth-child(4),
.sonatype-download-version table td:nth-child(5) {
    width: 60px;
}

/* Cell padding */

.sonatype-download-version table td {
    padding: 0.5em;
}

.sonatype-download-version table td:first-child {
    padding-left: 0;
}

.sonatype-download-version table td:last-child {
    padding-right: 0;
}

.sonatype-download-version table tr:last-child td {
    padding-bottom: 0;
}

/*******************
 * Contact us form *
 *******************/

.sonatype-contact-us {
    margin-top: 1em;
    line-height: 2.5;
}

.sonatype-contact-us h3 {
    margin: 0;
    color: #336699;
}

.sonatype-contact-us > div {
    background-color: #ebf0f5;
    padding: 1em;
}

.sonatype-contact-us label {
    float: left;
    width: 200px;
}

.sonatype-contact-us label span {
    position: relative;
    top: 2px;
}

.sonatype-contact-us input {
    padding: 0.5em;
    width: 200px;
}

.sonatype-contact-us input[type=submit] {
    width: 100px;
}

/************************************************************************
 * Sonatype page summary (containing overview blocks arranged in a row) *
 ************************************************************************/

.sonatype-summary-headers {
    background-color: #f1f1f1;
    padding-bottom: 3em;
}

/**************************************
 * Tertiary nav used on company pages *
 **************************************/

.sonatype-nav-block {
    background-color: #f1f1f1;
    padding: 1em 2em 1em 2em;
}

.sonatype-nav-block a {
    color: #2c2d2e;
}

/********************************
 * CTA section on landing pages *
 ********************************/

.sonatype-landing-cta {
    background-color: #ffffff;
}

/****************
 * Careers page *
 ****************/

.sonatype-careers {
    padding-bottom: 2em;
}

/************************
 * Image on error pages *
 ************************/

.sonatype-error-image img {
    width: 500px !important;
}