/* CSS for the Asciidoc rendered Nexus Documentation */
/* @author Manfred Moser */

/* Overall layout of nav on left of content */
.left-sidebar {
  float: left;
  width: 300px;
  border:0px;
}
.content {
  margin-left: 305px;
}

/* Styling for navigation on left */
.left-sidebar {
  padding-top: 10px;
  padding-bottom: 10px;
  border-left: 2px solid #000000;
  background-color: #f1f1f1;
}
.left-sidebar .sidebarTitle {
  vertical-align:text-top;
  padding-left: 10px;
  padding-bottom: 5px;
  padding-top: 3px;
  cursor: pointer;
}
.left-sidebar .sidebarTitle:hover {
  color:#888a85;
  text-decoration:underline;
  cursor: pointer;
}
.left-sidebar .sidebar {
  padding-left:20px;
  vertical-align:text-top;
  background-color: white;
}
.left-sidebar .sidebar a, a:active, a:focus {
  color:#000000;
  text-decoration:none;
  cursor: pointer;
}
.left-sidebar a:hover {
  color:#888a85;
  text-decoration:underline;
  cursor: pointer;
}
.left-sidebar .sidebarServer {
  padding-left:15px;
  vertical-align:text-top;
}
.sidebarSection {
 display: none;
}
.sidebarSection.default {
 display: block;
}


/* Various customizations for content block from asciidoc */

.content pre {
  padding: 0.5em;
  background-color: #eff0f1;
  white-space: pre-wrap;
}

/* override the clear:both element in the generate source code to avoid large whitespace after ToC for a chapter */
.content .title {
  clear: none !important;
}
.content .figure {
 text-align: center;
}
.content .blockquote {
  background-color: #eff0f1;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
}

/* --- Sub Nav Styling --- */
#nav-sub-block {
    margin: 0px;
    padding: 0px;
}
ul#nav-sub  {
    margin: 0px;
    padding: 0px;
    text-align:center;
}
ul#nav-sub li {
    text-align: center;
    list-style-type: none;
    display: inline-block;
}
ul#nav-sub li.first {
  float:left;
}
ul#nav-sub li.last {
  float:right;
}

/* --- Admonitionblock Styling --- */
div.warning, div.caution, div.important, div.note, div.tip {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  margin-bottom: 5px;
  margin-top: 5px;
  margin-right: 0px !important;
  padding: 7px 7px 7px 21px;
}
div.warning h3, div.caution h3, div.important h3, div.note h3, div.tip h3 {
  margin-bottom: 3px;
  margin-top: 3px;
  padding: 0px;
}
div.warning p, div.caution p, div.important p, div.note p, div.tip p {
  margin: 0px;
  padding-left: 10px;
  padding-right: 10px;
}
div.warning table, div.caution table, div.important table, div.note table, div.tip table {
  margin: 5px;
}
/** control image size to the original image size */
div.warning img, div.caution img, div.important img, div.note img, div.tip img {
  height: 48px;
  width: 48px;
  max-width: none;
}
.warning {
  background: #f5d9d6;
  border: 2px solid #ccc;
  border-color: #d04437;
}
.warning h3 {
  color: #d04437;
}
.caution {
  background: #f5d9d6;
  border: 2px solid #ccc;
  border-color: #d04437;
}
.caution h3 {
  color: #d04437;
}
.important {
  background: #dfd;
  border: 2px solid #ccc;
  border-color: #91c89c;
}
.important h3 {
  color: #91c89c;
}
.tip {
  background: #dfd;
  border: 2px solid #ccc;
  border-color: #91c89c;
}
.tip h3 {
  color: #91c89c;
}
.note {
  background: #dfd;
  border: 2px solid #ccc;
  border-color: #91c89c;
}
.note h3 {
  color: #91c89c;
}



/* --- Search Box Styling --- */

.search-box {
  width: 100%;
  height: 50pt;
  text-align: right;
}
.search-box input[type="text"] {
  font-family: "Proxima Nova Light";
  font-size: 14pt;
  height: 20pt;
  padding-left: 0.5em;
  padding-right: 0.5em;
  border: solid 1px #dcdcdc;
  transition: box-shadow 0.3s, border 0.3s;
}
.glyphicons-icon {
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 48px;
    vertical-align: text-top;
    background:transparent url("../images/glyphicons.png") no-repeat 0 0;
    vertical-align: top;
    *display: inline;
    *zoom: 1;
    *margin-right: .3em;
}
.glyphicons-icon.search {
  background-position: -332px -90px;
  border:none;
}
.search-box input[type="submit"] {
  width:40px;
}
