/* CSS for the Asciidoc rendered Nexus Documentation */
/* @author Manfred Moser */

/* Overall layout of nav on left of content */
.left-sidebar {
  float: left;
  width: 300px;
  border:0px;
  /* border: 1px solid black; */
}
.content {
  margin-left: 305px;
  /* border: 1px solid black; */
}

/* Styling for navigation on left */
.left-sidebar .sidebarTitle {
  vertical-align:text-top;
  border-left: 3px solid #f5c649;
  padding-left: 10px;
  cursor: pointer;
}
.left-sidebar .sidebarTitle:hover {
  color:#888a85;
  text-decoration:underline;
  cursor: pointer;
}
.left-sidebar .sidebar {
  margin-left:20px;
  vertical-align:text-top;
}
.left-sidebar .sidebar a, a:active, a:focus {
  color:#000000;
  text-decoration:none;
  cursor: pointer;
}
.left-sidebar a:hover {
  color:#888a85;
  text-decoration:underline;
  cursor: pointer;
}
.sidebarSection {
 display: none;
}
.sidebarSection.default {
 display: block;
}

/* override the clear:both element in the generate source code to avoid large whitespace after ToC for a chapter */
.content .title {
  clear: none !important;
}
/* --- Sub Nav Styling --- */
#nav-sub-block {
    margin: 0px;
    padding: 0px;
}
ul#nav-sub  {
    margin: 0px;
    padding: 0px;
    text-align:center;
}
ul#nav-sub li {
    text-align: center;
    list-style-type: none;
    display: inline-block;
}
ul#nav-sub li.first {
  float:left;
}
ul#nav-sub li.last {
  float:right;
}